# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# Environment and IDEs
.env
.idea/
.vscode/
.DS_Store
