API_HOST=0.0.0.0
API_PORT=8000

API_BASE_URL=http://localhost:8000

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

DT_ENVIRONMENT = "YOUR_DYNATRACE_ENVIRONMENT_URL"
DT_PERSONAL_ACCESS_TOKEN = "YOUR_DYNATRACE_PAT"